body {
    background-color: beige;   
}

.page-header {
    text-align: center;
}

.header > small {
    color: dimgrey;
    opacity: .75;
}

#game_container {
   
}

#info {
    background-color: ghostwhite;
    margin: 2%;
    padding: 2%;
    border: 2px inset white;
    border-radius: 5px;
}